/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### REACT NEXTJS ####
/nextjs/node_modules
/nextjs/public/hot
/nextjs/public/storage
/nextjs/storage/*.key
/nextjs/vendor
/nextjs/.idea
/nextjs/.vagrant
/nextjs/Homestead.json
/nextjs/Homestead.yaml
/nextjs/npm-debug.log
/nextjs/yarn-error.log
/nextjs/.env
